* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*profile page*/

header {
    align-items: center;
    background: rgba(55, 94, 105, 0.5);
}

.profilepage {
    background: url(./images/background.jpg) no-repeat;
    background-size: cover;
}

.profile {
    margin: 20px;
    float: right;
    min-width: 15%;
}

.submenu {
    display: none;
}

.profile:hover .submenu {
    display: block;
    position: absolute;
    padding-top: 15px;
}

.profile:hover .submenu ul {
    display: block;
    padding: 10px;
}